{% block subject %}Réinitialisation de votre mot de passe{% endblock %}

{% block body_text %}
Bonjour {{ user.prenom }},

Vous avez demandé à réinitialiser votre mot de passe sur Blog. Veuillez cliquer sur le lien ci-dessous pour choisir un nouveau mot de passe :

{{ url('reset_password', {token: token}) }}

Attention, ce lien n'est valide que pendant 1 heure.

Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail.

Cordialement,
L'équipe de Blog
{% endblock %}

{% block body_html %}
<div style="background-color: #F5F5F5; padding: 20px;">
    <p style="font-size: 16px; font-weight: bold;">Bonjour {{ user.prenom }},</p>
    
    <p>Vous avez demandé à réinitialiser votre mot de passe sur <strong>Blog</strong>. Veuillez cliquer sur le lien ci-dessous pour choisir un nouveau mot de passe :</p>
    
    <p style="text-align: center; margin: 20px 0;">
        <a href="{{ url('reset_password', {token: token}) }}" style="background-color: #007BFF; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Réinitialiser mon mot de passe</a>
    </p>
    
    <p style="margin-top: 20px;">Attention, ce lien n'est valide que pendant 1 heure.</p>
    
    <p style="margin-top: 20px;">Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail.</p>
    
    <p style="margin-top: 40px;">Cordialement,<br>L'équipe de <strong>Blog</strong></p>
</div>
{% endblock %}
